@{
    ViewData["Title"] = "Privacy Policy";
    var fecha = DateTime.Today;
}
<h1>@ViewData["Title"]</h1>

<h2>Fecha: @fecha</h2>
<h2>Nombre: @ViewBag.Nombre</h2>
<h2>Apellido: @ViewBag.Apellido</h2>

<h2>Nombre: @ViewData["Nombre"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
